<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="App">
	<resultMap type="com.timeloit.pojo.app.App" id="AuditApp">
		<result column="app_id" property="appId" />
		<result column="app_name" property="appName" />
		<result column="ati_id" property="atiId" />
		<result column="platform_type" property="platformType" />
		<result column="audit_status" property="auditStatus" />
		<result column="deploy_status" property="deployStatus" />
		<result column="last_time" property="lastTime" />
		<association property="user" javaType="com.timeloit.pojo.User">
			<result column="user_id" property="userId" />
			<result column="user_type" property="userType" />
			<result column="real_name" property="realName" />
			<result column="login_name" property="loginName" />
		</association>
	</resultMap>

	<!-- 通过应用ID获得应用信息 -->
	<select id="getAppById" resultType="com.timeloit.pojo.app.App">
		select
		app_id as appId,
		user_id as userId,
		ati_id as atiId,
		audit_status as auditStatus,
		deploy_status as deployStatus,
		app_name as appName,
		description as
		description,
		platform_type as platformType,
		platform_str as platformStr,
		app_url as appUrl,
		iframe_height as iframeHeight,
		small_icon as
		smallIcon,
		large_icon as largeIcon,
		public_type as publicType,
		user_count as userCount,
		create_time as createTime,
		last_time as
		lastTime,
		client_id as clientId,
		auth_callback as authCallback,
		unauth_callback as unauthCallback,
		app_secret as appSecret,
		sandbox_status as sandboxStatus,
		recommend_weight as recommendWeight
		from app where app_id=#{appId}
	</select>
	<!-- 查询序审核应用列表操作总数 -->
	<select id="selectAuditAppCount" parameterType="hashMap"
		resultType="Integer">
		SELECT COUNT(*)
		FROM app
		<where>
			<if test="app_name !=NULL">
				app_name like '%${app_name}%'
			</if>
			<if test="platform_type > -1">
				and platform_type=${platform_type}
			</if>
			<if test="ati_id !=0">
				and ati_id =${ati_id}
			</if>
			<if test="platform_str !=NULL">
				and platform_str like '%${platform_str}%'
			</if>
			and audit_status=${audit_status}
			and deploy_status=0
			and platform_type!=4
		</where>
	</select>
	<!-- 查询序审核应用列表 -->
	<select id="selectAuditAppList" resultMap="AuditApp"
		parameterType="java.util.Map">
		SELECT * FROM (
		SELECT app_id,
		user.user_id,
		user.user_type,
		user.real_name,
		user.login_name,
		ati_id,
		audit_status,
		deploy_status,
		app_name,
		platform_type,
		platform_str,
		app.last_time
		FROM
		app
		LEFT JOIN
		user
		ON app.user_id = user.user_id
		)a
		<where>
			<if test="app_name !=NULL">
				app_name like '%${app_name}%'
			</if>
			<if test="platform_type >-1">
				and platform_type=${platform_type}
			</if>
			<if test="ati_id !=0">
				and ati_id =${ati_id}
			</if>
			<if test="platform_str !=NULL">
				and platform_str like '%${platform_str}%'
			</if>
			and audit_status=${audit_status}
			and deploy_status=0
			and platform_type!=4
		</where>
		ORDER BY app_id desc
		limit #{skipResults},#{maxResults}
	</select>



	<!-- 查询序上线应用列表操作总数 -->
	<select id="selectDisplayAppCount" parameterType="hashMap"
		resultType="Integer">
		SELECT COUNT(*)
		FROM app
		<where>
			<if test="app_name !=NULL">
				app_name like '%${app_name}%'
			</if>
			<if test="platform_type >-1">
				and platform_type=${platform_type}
			</if>
			<if test="ati_id !=0">
				and ati_id =${ati_id}
			</if>
			<if test="platform_str !=NULL">
				and platform_str like '%${platform_str}%'
			</if>
			and audit_status=5
			and deploy_status=1
			and platform_type!=4
		</where>
	</select>
	<!-- 查询上线应用列表 -->
	<select id="selectDisplayAppList" resultMap="AuditApp"
		parameterType="java.util.Map">
		SELECT * FROM (
		SELECT app_id,
		user.user_id,
		user.user_type,
		user.real_name,
		user.login_name,
		ati_id,
		audit_status,
		deploy_status,
		app_name,
		platform_type,
		platform_str,
		app.last_time
		FROM
		app
		LEFT JOIN
		user
		ON app.user_id = user.user_id
		)a
		<where>
			<if test="app_name !=NULL">
				app_name like '%${app_name}%'
			</if>
			<if test="platform_type >-1">
				and platform_type=${platform_type}
			</if>
			<if test="ati_id !=0">
				and ati_id =${ati_id}
			</if>
			<if test="platform_str !=NULL">
				and platform_str like '%${platform_str}%'
			</if>
			and audit_status=5
			and (deploy_status=1 or deploy_status=2)
			and platform_type!=4
		</where>
		ORDER BY app_id desc
		limit #{skipResults},#{maxResults}
	</select>

	<!-- 更改发布状态 -->
	<update id="updateAppDeployStatus" parameterType="java.util.Map">
		UPDATE app
		SET
		deploy_status = #{deploy_status},
		last_time = #{last_time}
		WHERE
		app_id = #{app_id};
	</update>

	<!-- 删除应用 -->
	<delete id="deleteApp" parameterType="long">
		DELETE FROM app
		WHERE
		app_id = #{app_id} ;
	</delete>

	<!-- 操作日志记录 -->
	<insert id="addAppLog" parameterType="com.timeloit.pojo.app.AppLog">
		insert into app_log
		(
		app_id,
		operator,
		operate_time,
		action,
		status,
		comments,
		refuse_code,
		action_type
		)
		values
		(
		#{appId},
		#{operator},
		#{operateTime},
		#{action},
		#{status},
		#{comments},
		#{refuseCode},
		#{actionType}
		);
	</insert>

	<!-- 查询应用类型 -->
	<select id="selectAppType" resultType="com.timeloit.pojo.app.AppType">
		SELECT ati_id atiId,
		type_name typeName
		FROM
		app_type
	</select>


	<!-- 更改应用类型 -->
	<update id="updateAppType" parameterType="java.util.Map">
		UPDATE app
		SET
		ati_id = #{ati_id}
		WHERE
		app_id = #{app_id};
	</update>

	<!-- 更改审核状态 -->
	<update id="updateAppAuditStatus" parameterType="java.util.Map">
		UPDATE app
		SET
		audit_status = #{audit_status},
		last_time = #{last_time}
		WHERE
		app_id = #{app_id};
	</update>

	<!-- 通过应用ID获得标签TAGS -->
	<select id="getTags" parameterType="long" resultType="String">
		select
		tag.tag_word
		from app_tag_map atm,tag
		where atm.app_id=#{appId}
		and tag.tag_id=atm.tag_id
	</select>

	<!-- 通过应用ID获得开发者真实名字 -->
	<select id="getCoderName" parameterType="long" resultType="String">
		select user.real_name
		from user,app
		where app.app_id=#{appId}
		and user.user_id=app.user_id
	</select>

	<!-- 通过应用ID获得维护者真实名字 -->
	<select id="getMaintenanceName" parameterType="long" resultType="String">
		select name
		from app_maintenance_contacts
		where app_id=#{appId}
	</select>

	<!-- 返回应用的所有测试用户名 -->
	<select id="getTesterNames" resultType="String">
		select login_name from
		app_tester_map atm, user
		where app_id=#{appId} and user.user_id = atm.user_id
	</select>

	<!-- 更改应用完整度 -->
	<update id="updateAppcompleteStatus" parameterType="java.util.Map">
		UPDATE app
		SET
		complete_status = #{complete_status}
		WHERE
		app_id = #{app_id};
	</update>

	<!-- 更身份完整度 -->
	<update id="updateIdentitycompleteStatus" parameterType="java.util.Map">
		UPDATE app_identity
		SET
		complete_status = #{complete_status}
		WHERE
		user_id = #{user_id};
	</update>

	<!-- 查询所有应用列表操作总数 -->
	<select id="selectAppCount" parameterType="hashMap" resultType="Integer">
		SELECT COUNT(*)
		FROM app
		<where>
			<if test="app_name !=NULL">
				app_name like '%${app_name}%'
			</if>
			<if test="platform_type >-1">
				and platform_type=${platform_type}
			</if>
			<if test="platform_str !=NULL">
				and platform_str like '%${platform_str}%'
			</if>
			<if test="auditStatusArray!=null and auditStatusArray.length!=0">
				AND audit_status in
				<foreach collection="auditStatusArray" item="audit_status"
					index="index" open="(" close=")" separator=",">
					#{audit_status}
				</foreach>
			</if>
			<if test="deployStatusArray!=null and deployStatusArray.length!=0">
				and deploy_status in
				<foreach collection="deployStatusArray" item="deploy_status"
					index="index" open="(" close=")" separator=",">
					#{deploy_status}
				</foreach>
			</if>
			and platform_type!=4
		</where>
	</select>
	<!-- 查询应用列表 -->
	<select id="selectAppList" resultMap="AuditApp" parameterType="java.util.Map">
		SELECT * FROM (
		SELECT app_id,
		user.user_id,
		user.user_type,
		user.real_name,
		user.login_name,
		ati_id,
		audit_status,
		deploy_status,
		app_name,
		platform_type,
		platform_str,
		app.last_time
		FROM
		app
		LEFT JOIN
		user
		ON app.user_id = user.user_id
		)a
		<where>
			<if test="app_name !=NULL">
				app_name like '%${app_name}%'
			</if>
			<if test="platform_type >-1">
				and platform_type=${platform_type}
			</if>
			<if test="platform_str !=NULL">
				and platform_str like '%${platform_str}%'
			</if>
			<if test="auditStatusArray!=null and auditStatusArray.length!=0">
				AND audit_status in
				<foreach collection="auditStatusArray" item="audit_status"
					index="index" open="(" close=")" separator=",">
					#{audit_status}
				</foreach>
			</if>
			<if test="deployStatusArray!=null and deployStatusArray.length!=0">
				and deploy_status in
				<foreach collection="deployStatusArray" item="deploy_status"
					index="index" open="(" close=")" separator=",">
					#{deploy_status}
				</foreach>
			</if>
			and platform_type!=4
		</where>
		ORDER BY app_id desc
		limit #{skipResults},#{maxResults}
	</select>


	<!-- 更新应用信息 -->
	<update id="updateApp" parameterType="com.timeloit.pojo.app.App">
		update app
		<trim prefix="set" suffixOverrides=",">
			<if test="atiId != null">ati_id= #{atiId},</if>
			<if test="auditStatus != null">audit_status= #{auditStatus},</if>
			<if test="deployStatus != null">deploy_status= #{deployStatus},</if>
			<if test="appName != null">app_name= #{appName},</if>
			<if test="description != null">description= #{description},</if>
			<if test="platformType != null">platform_type= #{platformType},</if>
			<if test="platformStr != null">platform_str= #{platformStr},</if>
			<if test="appUrl != null">app_url= #{appUrl},</if>
			<if test="iframeHeight != null">iframe_height= #{iframeHeight},</if>
			<if test="smallIcon != null">small_icon= #{smallIcon},</if>
			<if test="largeIcon != null">large_icon= #{largeIcon},</if>
			<if test="publicType != null">public_type= #{publicType},</if>
			<if test="userCount != null">user_count= #{userCount},</if>
			<if test="createTime != null">create_time= #{createTime},</if>
			<if test="lastTime != null">last_time= #{lastTime},</if>
			<if test="sandboxStatus != null">sandbox_status= #{sandboxStatus},</if>
			<if test="recommendWeight != null">recommend_weight= #{recommendWeight},</if>
			<if test="authCallback != null">auth_callback= #{authCallback},</if>
			<if test="unauthCallback != null">unauth_callback= #{unauthCallback},</if>
			<if test="appSecret != null">app_secret= #{appSecret},</if>
			<if test="completeStatus != null">complete_status =#{completeStatus},</if>
		</trim>
		where app_id=#{appId}
	</update>
	
	<!-- 关键字查询标签-->
	<select id="getTagIdByTagWord" parameterType="String" resultType="Long">
	 	SELECT tag_id FROM tag 
		WHERE tag_word=#{tagWord}
	</select>
	
	<!-- 添加产品标签信息 -->
	<insert id="addTag" parameterType="com.timeloit.pojo.Tag">
	 INSERT INTO tag (tag_word) VALUES (#{tagWord});
	 <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="tagId">  
          SELECT LAST_INSERT_ID()   
	 </selectKey> 
	</insert>
	
	<!-- 添加产品标签关联表信息 -->
	<insert id="addApp_Tag_Map" parameterType="hashMap">
	 INSERT INTO app_tag_map (app_id, tag_id) VALUES ( #{app_id},  #{tag_id} );
	</insert>
	
	<!--删除产品标签映射信息 -->
	<delete id="deleteTag_Map" parameterType="Integer">
	DELETE FROM app_tag_map 
	WHERE
    app_id=#{appId}
	</delete>
</mapper>